.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___logo {
  height: 140px;
  width: 100px;
}

.fighter-preview-information {
  align-items: center;
  background-color: #ca9650;
  border: 6px double black;
  border-radius: 20px;
  margin-top: 20px;
}

.fighter-preview-information-label {
  margin: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
}
